<h1>News Search</h1>
<input type="text" name="search" [(ngModel)]="query" (keyup.enter)="searchDocs()"/>
<button (click)="searchDocs()">Search</button>
<div *ngIf="documents">
    <ul class="list">
        <li *ngFor="let doc of documents" (click)="onDocSelect(doc.id)">
            <div style="display: flex;">
                    <div style="display: inline-block; margin-right: 10px;">
                        <img src="assets/img/{{doc.category}}.png" width="100" height="100" />
                    </div>
                    <div class="text-list-container" style="display: inline-block">
                        {{doc.content | slice:0:250}}...
                    </div>
                </div>
        </li>
    </ul>
</div>